<!-- <ul>
    <li *ngFor="let item of posts | paginate: { itemsPerPage: 10, currentPage: p }"> Title: {{item.title}} </li>
</ul> -->
<table>
    <tr>
        <th>Post id</th>
        <th>Post user id</th>
        <th>Post title </th>
        <th>Post body</th>
    </tr>
    <tr *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{post.id}}</td>
        <td>{{post.userId}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
    </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
